<ion-header translucent>
  <ion-toolbar>
    <ion-title size="small" color="primary">{{'New_Betting' | translate}}</ion-title>
    <ion-button  (click)="dismiss()" slot="end" primary> Cancel
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content id="csoda"fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>{{"WINNER_TEAM" | translate}}</ion-label>
      <ion-select [(ngModel)]="winner"  class="custom-options" interface="action-sheet">
        <ion-select-option id="newOption1" [value]="match.team1.code">{{match.team1.name}}</ion-select-option>
        <ion-select-option  id="newOption2" [value]="match.team2.code">{{match.team2.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{"AMOUNT" | translate}}</ion-label>
      <ion-input [(ngModel)]="amount"></ion-input>
    </ion-item>
  </ion-list>
    <ion-button expand="block" (click)="saveBetting()">{{"SEND_BETTING" | translate}}</ion-button>
</ion-content>
