<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"HOME" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h2>{{"HOME_PAGE_TITLE" | translate}}</h2>
  <p>{{"HOME_PAGE_LEAD" | translate}}</p>
  <hr>
  <ion-item>
    <ion-label>{{"AMOUNT" | translate}}</ion-label>
    <ion-input [(ngModel)]="amount" type="number"></ion-input>
  </ion-item>
  <ion-button  expand="full" color="primary">{{"UPDATE" | translate }}</ion-button>
 <ion-button  expand="full" color="danger" (click)="resetStorage()">{{"RESET" | translate }}</ion-button>
</ion-content>
